.form {
  margin: 10px auto;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.button {
  margin-top: 8px;
  width: 90px;
}

.search-icon {
  position: relative;
  left: 21px;
  top: 1px;
}
