.swiper__card-reveal {
  padding: 0 !important;
}

.icon {
  width: 15px;
}

.movie-title {
  font-size: 18px !important;
}

.card-content {
  padding: 0px !important;
}

.card-content__header {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
