.reveal-overview {
  padding: 15px;
  text-align: justify;
}

.reveal-title {
  padding: 3px;
  text-align: justify;
}

.close-reveal {
  position: absolute;
  top: 7px;
  right: 7px;
}

.swiper__card-reveal {
  padding: 0 !important;
}

.icon {
  width: 15px;
}

.add-info-icon {
  margin-top: 5px !important;
}

.card-content__header {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
